# ==============================================================================
# ШАБЛОН НАСТРОЕК ОКРУЖЕНИЯ ДЛЯ РАЗРАБОТКИ (SLOTS-API)
# ==============================================================================
# Инструкция: Скопируйте этот файл, переименуйте его в ".env"
# и укажите ваши локальные значения перед запуском `docker compose up`.

#Пароль к PostgresSQL, пользователь postgres
DB_PASSWORD=your_secure_password_here

#Для запуска в режиме тестирования или как демо - оставить dev
ACTIVE_PROFILE=dev

#Опционально, только для интеграции с маркетплейсом, по умолчанию оставить как есть
MARKETPLACE_SIGNING_SECRET=your_marketplace_signing_secret_here